nav {
  .navbar-collapse {
    background-color: $gray-800;
  }

  .mercury {
    .planet {
      background-color: #DEF4FC;
    }
  }

  .venus {
    .planet {
      background-color: #F7CC7F;
    }
  }

  .earth {
    .planet {
      background-color: #545BFE;
    }
  }

  .mars {
    .planet {
      background-color: #FF6A45;
    }
  }

  .jupiter {
    .planet {
      background-color: #ECAD7A;
    }
  }

  .saturn {
    .planet {
      background-color: #FCCB6B;
    }
  }

  .uranus {
    .planet {
      background-color: #65F0D5;
    }
  }

  .neptune {
    .planet {
      background-color: #497EFA;
    }
  }
}