
$gray-100: #838391;
$gray-200: #38384f;
$gray-800: #070724;
$blue: #2d68f0;
$purple: #6f2ed6;
$red: #d83a34;
$orange: #cd5120;
$green: #1ec2a4;
$cyan: #419ebb;
$pink: #d14c32;
$yellow: #eda249;

$body-bg: $gray-800;
$body-color: #fff;

$font-family-2-sans-serif: "Antonio", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.5rem;
$font-size-lg: $font-size-base * 1.67;
$font-size-sm: $font-size-base * .46;
$line-height-base: 1;
$h1-font-size: $font-size-base * 3.35;
$h2-font-size: $font-size-base * 1.67;
$h3-font-size: $font-size-base * 0.5;
$h4-font-size: $font-size-base * 0.46;
