// Custom.scss
// Option A: Include all of Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap');
@import "./variables";
// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./colors";
@import "./background";

nav {
  li {
    a {
      font-size: 0.9375rem;
      letter-spacing: 1.364px;
      line-height: 1;
    }
  }

  .navbar-brand {
    font-family: $font-family-2-sans-serif;
    font-size: 1.75rem;
    letter-spacing: -1.05px;
  }

  .navbar-collapse {
    width: 100%;
    max-width: 375px;
  }

  .navbar-toggler {
    &:focus {
      box-shadow: 0 0 0 0;
    }
  }
}

.d-grid {
  grid-template-rows: repeat(3, min-content);

  .nav-link {
    font-size: 0.5625rem;
    letter-spacing: 1.929px;
  }

  .active {
    border-bottom: 4px solid;
  }

  > img {
    justify-self: center;
    align-self: center;
  }
}

@include media-breakpoint-up(md) {
  nav {
    border-bottom: 1px solid #ffffff20;

    .list-wrap,
    .top-wrap {
      border-bottom: 0 !important;
    }

    .top-wrap {
      width: min-content;
    }

    .navbar-collapse {
      position: static !important;
      max-width: 100%;

      ul {
        width: 100%;
      }

      li {
        a {
          font-size: 0.6875rem;
          line-height: 25px;
          letter-spacing: 1px;
          font-weight: 700;
          opacity: 75%;

          &:hover {
            opacity: 100%;
            transition: 500ms;
          }
        }
      }
    }

    .navbar-brand {
      width: 100%;
    }
  }
}