// Custom.scss
// Option A: Include all of Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap');
@import "./variables";
// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./colors";
@import "./background";

nav {
  li {
    a {
      font-size: 0.9375rem;
      letter-spacing: 1.364px;
      line-height: 1;
    }
  }

  .navbar-brand {
    font-family: $font-family-2-sans-serif;
    font-size: 1.75rem;
    letter-spacing: -1.05px;
  }

  .navbar-collapse {
    width: 100%;
    max-width: 375px;
  }

  .navbar-toggler {
    &:focus {
      box-shadow: 0 0 0 0;
    }
  }
}

@include media-breakpoint-up(md) {
  nav {
    .list-wrap,
    .top-wrap {
      border-bottom: 0 !important;
    }

    .navbar-collapse {
      position: static !important;
      max-width: 100%;

      ul {
        width: 100%;
      }
    }

    .navbar-brand {
      width: 100%;
    }
  }
}